body {
    width: 1200px;
    margin: 0 auto;
    padding: 20px;

}

h1,
h2 {
    font-family: 'Montserrat',
        sans-serif;
    text-transform: uppercase;
}

h3,
h4,
p,
ul,
li {
    font-family: 'Open Sans',
        sans-serif;
}

h3 {
    margin: 3px;
}

h1 {
    color: #71eeb8;
    line-height: .8;
    padding: 20px;
}

h2 {
    color: #A9A9A9;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.namewrapper {
    background-color: #020202;
}

.name {
    width: 50%;
    font-size: 80px;
    display: inline-block;
    margin: 0;
}

.contact {
    width: 50%;
    margin: 0 5px;
    color: #ffffff;
}

.contactwrapper {
    width: 40%;
    margin: 0;
    display: inline-block;
}

.skillscard {
    width: 25%;
    margin: 0 8% 0 0;
    display: inline-block;
    vertical-align: top;
}

.employmentcard {
    width: 45%;
    margin: 0;
    display: inline-block;
    vertical-align: top;
    padding: 5px;
}
