body {
    width: 1200px;
    margin: 0 auto;
    padding: 20px;

}

h1,
h2 {
    font-family: 'Montserrat',
        sans-serif;
    color: #71eeb8;
}

h3,
h4,
p,
ul,
li {
    font-family: 'Open Sans',
        sans-serif;
}

h3 {
    margin: 3px;
}

.name {
    width: 50%;
    font-size: 80px;
    display: inline-block;
    margin: 0;
}

.contact {
    width: 50%;
    margin: 0;
}

.contactwrapper {
    width: 40%;
    margin: 0;
    display: inline-block;
}

.skillscard {
    width: 25%;
    margin: 0 8% 0 0;
    display: inline-block;
    vertical-align: top;
}

.employmentcard {
    width: 45%;
    margin: 0;
    display: inline-block;
    vertical-align: top;
    padding: 5px;
}
